/* Responsividade */
@media (max-width: 768px) {

    .top__fixed {
        height: 41px;
        font-size: 16px;
    }

    .hero {
        height: 350px;
    }

    .hero__content h1 {
        font-size: 18px;
    }

    .hero__content h2 {
        font-size: 24px;
    }

    .hero__content p {
        font-size: 18px;
        line-height: 28px;
    }

    .heading__produtos {
        padding-inline: 20px;
    }

    .heading__produtos h3 {
        font-size: 24px;
    }

    .heading__produtos p {
        font-size: 16px;
        line-height: 26px;
    }

    .lista__produtos {
        margin-block: 32px;
        gap: 32px;
    }

    .card__produto_detalhes h4 {
        font-size: 18px;
    }

    .card__produto_detalhes h5 {
        font-size: 16px;
    }

    .card__produto h6 {
        font-size: 20px;
    }

}

@media (max-width: 375px) {

    .top__fixed {
        height: 39px;
    }

    .hero__content p {
        font-size: 16px;
        line-height: 26px;
    }

    .heading__produtos h3 {
        font-size: 20px;
    }

    .heading__produtos p {
        font-size: 14px;
        line-height: 24px;
    }

    .lista__produtos {
        margin-block: 24px;
        gap: 24px;
    }

    .card__produto_detalhes h4 {
        font-size: 16px;
    }
}
@media (max-width: 1024px) {
    .carrinho__detalhes {
        flex-direction: column;
        gap: 20px;
    }

    .carrinho__detalhes label,
    .carrinho__detalhes h3 {
        font-size: 18px;
    }

    .carrinho__detalhes p {
        font-size: 14px;
    }
}

.identificacao,
.pagamento {
    margin-top: 50px;
    padding-inline: 20px;
    width: 100%;
}

.identificacao h2,
.pagamento h2 {
    text-align: center;
}