:root {
    --brand-color: #7a00FF;
    --dark: #121214;
    --white-soft: #f3ffFF;
    --white: #ffffff;
    --gray-transparent: rgb(163, 181, 187, 0.6)
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    font-family: Archivo, sans-serif;
}

.top__fixed {
    width: 100%;
    height: 64px;
    background-color: var(--white_soft);
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero {
    width: 100%;
    height: 400px;
    background-image: url("../img/03.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;


    display: flex;
    align-items: center;
    justify-content: center;

}

.hero__content {
    width: 80%;
    height: auto;
    color: var(--brand-color);
    background-color: var (--gray-transparent);
    padding: 10px;
}

.hero__content h1,
.hero__content p {
    font-size: 24px;
    margin-bottom: 20px;
}

.hero__content h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

.hero__content img {
    width: 25px;
    height: 40px;
}

main {
    width: 100%;
    height: 100%;
    margin-block: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
        flex-direction: column;
}

.produtos {
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.heading__produtos {
    max-width: 590px;
    height: 100%;
    margin-bottom: 72px;

}

.heading__produtos h3 {
    text-align: center;
    font-size: 32px;
}

.heading__produtos p {
    font-size: 24px;
}

.lista__produtos {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 32px;
}

.card__produto {
    width: 336px;
    height: 100%;
}

.card__produto figure:hover {
    border: 1px solid var(--brand-color);
    cursor: pointer;
}

.card__produto figure,
.produto__detalhes_imagens figure {
    width: 100%;
    height: 200px;
    background-color: var(--white-soft);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card__produto figure img,
.produto__detalhes_imagens figure img {
    width: 200px;
    height: 300px;
}

.card__produto h6 {
    font-size: 18px;
    line-height: 28px;
}

.card__produto_detalhes {
    margin-block: 24px;
}

.card__produto_detalhes h4,
h6 {
    font-size: 18px;
    line-height: 28px;
    /* Ajustes na aula 09 */
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card__produto_detalhes h6 {
    font-size: 18px;
    line-height: 28px;
}
.produto__detalhes_info h4,
h6 {
    font-size: 18px;
    line-height: 28px;
}

.card__produto_detalhes h5,
.produto__detalhes_info h5 {
    font-size: 16px;
    line-height: 26px;
    color: var(--brand-color);
}

/* Preço */
.card__produto_preco h6 {
    font-size: 18px;
    line-height: 28px;
    font-family: "Space Grotesk", sans-serif;
}


/* Responsividade */
@media (max-width: 768px) {

    .top__fixed {
        height: 41px;
        font-size: 16px;
    }

    .hero {
        height: 350px;
    }

    .hero__content h1 {
        font-size: 18px;
    }

    .hero__content h2 {
        font-size: 24px;
    }

    .hero__content p {
        font-size: 18px;
        line-height: 28px;
    }

    .heading__produtos {
        padding-inline: 20px;
    }

    .heading__produtos h3 {
        font-size: 24px;
    }

    .heading__produtos p {
        font-size: 16px;
        line-height: 26px;
    }

    .lista__produtos {
        margin-block: 32px;
        gap: 32px;
    }

    .card__produto_detalhes h4 {
        font-size: 18px;
    }

    .card__produto_detalhes h5 {
        font-size: 16px;
    }

    .card__produto h6 {
        font-size: 20px;
    }

}

@media (max-width: 375px) {

    .top__fixed {
        height: 39px;

    }

    .hero__content p {
        font-size: 16px;
        line-height: 26px;
    }

    .heading__produtos h3 {
        font-size: 20px;
    }

    .heading__produtos p {
        font-size: 14px;
        line-height: 24px;
    }

    .lista__produtos {
        margin-block: 24px;
        gap: 24px;
    }

    .card__produto_detalhes h4 {
        font-size: 16px;
    }
}
/* Aula 07 - detalhes de produtos */
.produto__detalhes {
    /*border: 1px solid red;*/
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
    /*align-items: center;*/
    justify-content: center;
}

.produto__detalhes_imagens {
    /*border: 1px solid green;*/
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
}

.detalhes,
.tamanho,
.botao,
.descricao {
    margin-bottom: 20px;
}

.botao {
    width: 100%;
}

.botao button {
    background-color: var(--dark);
    color: var(--white);
    width: 100%;
    height: 50px;
    border-radius: 50px;
    border: 0;
    cursor: pointer;
    font-size: 16px;
}

/* Aula 08 */

/* detalhes de produto - nome, descrição e preço */

.detalhes {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.detalhes h4 {
    font-size: 24px;
}

.detalhes h5 {
    font-size: 16px;
    color: var(--brand-color);
}

.detalhes h6 {
    font-size: 24px;
    font-family: "Space Grotesk", sans-serif;
}

.tamanho h5 {
    font-size: 18px;
    margin-bottom: 10px;

}

.tamanhos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;
}

/* Aula 10 */
.numeros {
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .numeros:hover {
        border-color: var(--dark);
        cursor: pointer;
    }
    
    .radio {
        display: none;
    }
    
    .selecionado {
        border-color: var(--dark);
}

.descricao {
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
}

.descricao p {
    margin-bottom: 10px;
}

.descricao ul {
    margin-left: 20px;
}

/* frete */
details::marker,
summary::marker {
    content: "";
}

summary {
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    height: 24px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.icone-expandir::after,
.icone-recolher::after {
    content: "";
    display: inline-flex;
    width: 16px;
    height: 16px;
    background-image: url('../img/icon_expand_more_FILL0_wght400_GRAD0_opsz24.svg');
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 5px;
}

.icone-recolher::after {
    background-image: url('../img/icon_expand_less_FILL0_wght400_GRAD0_opsz24.svg');

}

details {
    font-size: 16px;
}

details p {
    margin-bottom: 15px;
}

label {
    margin-bottom: 5px;
}

.input {
    margin-block: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.input input {
    width: 100%;
    height: 50px;
    border-radius: 50px;
    border: 1px solid #ccc;
    font-size: 20px;
    padding-left: 20px;
}

.input button {
    font-size: 20px;
    font-weight: 500;
    width: 120px;
    height: 40px;
    background-color: var(--white);
    border-radius: 50px;
    border: 1px solid #ccc;
    cursor: pointer;
    position: absolute;
    bottom: 5px;
    right: 0;
    margin-left: 5px;
}

.input button:hover {
    border-color: #222;
}

details a {
    color: var(--dark);
    font-weight: bold;
    margin-top: 20px;
}

.voltar {
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
}

.voltar:hover {
    cursor: pointer;
}